<ion-header no-border>
  <ion-toolbar >
    <ion-title class="event_title">
      Welcome to 
      <!-- <span class="cater">Cater</span> <span class="binge">binge</span> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="main_block">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle class="sub_tit">BECOME A PARTNER</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="row">
          <div class="col-6">
            <div class="card">
              <div>
                <p>Chef booking</p>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
