.welcome_block {
    width: 100%;
    background-color: #ffffff;
    height: 100%;
    text-align: center;

    h1 {
        font-family: 'Pacifico', cursive;
        font-weight: 700;
        color: #464343;
        margin-top: 75px;

        .binge {
            color: #1DB59E;
        }
    }

    p {
        color: #3c3c3c96;
        font-size: 13px;
        line-height: 20px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin-top: 25px;
    }

    img {
        height: 150px;
    }

    .btn_block {
        margin-top: 100px;

        ion-fab-button {
            --background: #1DB59E;
            --background-activated: #1DB59E;
            --background-hover: #1DB59E;
        }
    }
}

// Slider Block
.slide_block {
    height: 100vh;
    position: relative;

    .how {
        font-size: 13px;
        padding-top: 40px;
        text-align: center;
        color: #1DB59E;
        font-family: 'Roboto', sans-serif;
    }

    ion-slides {
        margin-top: 20px;

        ion-slide {
            position: relative;
            height: 100vh;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            img {
                max-width: 250px;
            }

            .slide_text {
                margin-top: 30px;

                h2 {
                    font-size: 15px;
                    line-height: 25px;
                    font-weight: 700;
                    font-family: 'Roboto', sans-serif;
                    color: #1DB59E;
                }

                p {
                    font-size: 12px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                    color: #3c3c3c96;
                    text-align: center;
                }
            }
        }

        .skip-block {
            position: absolute;
            bottom: 70px;
            left: auto;
            right: 10px;
            cursor: pointer;

            p {
                padding: 10px 20px 10px 20px;
                background: #1DB59E;
                color: #fff;
                font-size: 12px;
                font-family: 'Poppins', sans-serif;
                outline: none;
            }
        }
    }
}