<ion-header>
  <ion-toolbar>
    <img src="../../assets/custom-icons/web-page-home.svg" alt="" class="home_icon">
    <ion-title>
      Book An Event
    </ion-title>
    <img src="../../assets/custom-icons/user.svg" alt="" class="user_icon">
  </ion-toolbar>
</ion-header>
<ion-content >
  <ng-container >
    <ion-searchbar autocomplete placeholder="select your city"></ion-searchbar>
    <!-- <div class="popular">
      <h1>Popular Cities</h1>
      <div>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="3" (click)="showCityBlock('Hyderabad')">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Hyderabad</p>
                </ion-col>
                <ion-col size="3" (click)="showCityBlock('Banglore')">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Banglore</p>
                </ion-col>
                <ion-col size="3" (click)="showCityBlock('Chennai')">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Chennai</p>
                </ion-col>
                <ion-col size="3" (click)="showCityBlock('Mumbai')">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Mumbai</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Hyderabad</p>
                </ion-col>
                <ion-col size="3">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Banglore</p>
                </ion-col>
                <ion-col size="3">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Chennai</p>
                </ion-col>
                <ion-col size="3">
                  <img src="../../assets/custom-icons/cityscape.png" alt="">
                  <p>Mumbai</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div> -->
  </ng-container>
</ion-content>